.adminWrapper{
   display: flex;
   flex-direction: column;
}
.openAdminPanel{
   margin: 1rem auto 0;
   padding: 0.5rem;
   font-size: 1.2rem;
   text-transform: uppercase;
   max-width: max-content;
   transition: all 0.3s ease-in-out;
}

.openAdminPanel:hover{
   background-color:#e1a8fb;
}