.formWrapper {
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    max-width: 30rem;
    box-shadow: 3px 5px 15px 0px rgba(110, 30, 147, 0.2);
  }
  .password {
    position: relative;
  }
  .password input {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1rem;
    outline: none;
    border: none;
    background-color: rgba(110, 30, 147, 0.2);
    border-radius: 5px;
    font-size: 1.3rem;
  }
  .visible {
    display: block;
    position: absolute;
    top: 25%;
    right: 5%;
  }
  .success {
    text-align: center;
    background-color: #6e1e93;
    text-transform: uppercase;
    color: white;
  }