.table {
    border-collapse: collapse;
    font-size: 1.5rem;
    border-bottom: 2px solid #6d1e93;
    width: 100%;
  }
  .table * {
    padding: 0.5rem;
    font-family: 'Roboto', sans-serif;
  }
  .table img {
    max-width: 4rem;
  }
  .table tr {
    border-bottom: 1px solid #6d1e93;
  }