.form {
  position: relative;
  display: flex;
  align-items: center;
}
.editName, .redBorder {
  padding: 0.4rem;
  background-color: #553f69;
  color: wheat;
  text-transform: lowercase;
  margin-right: 0.3rem;
}
.redBorder:focus, .editName:focus{
    outline: none;
}
.errorMessage {
  position: absolute;
  bottom: -0.8rem;
  font-size: 0.8rem;
  color: red;
  text-transform: lowercase;
}
.iconCancel {
  color: #d18d8d;
  font-size: 2.2rem;
  transform: rotate(90deg);
}
.check:hover{
background-color: white !important;
}