.sortBySelect {
    position: relative;
    display: flex;
    align-items: center;
  }
  .arrowDown,
  .arrowTop {
    width: 10px;
    height: 10px;
    margin-right: 0.3rem;
    transform: rotate(180deg);
  }
  .arrowDown {
    transform: rotate(0deg);
  }
  .sortBySelect p {
    font-weight: bold;
  }
  
  .sortBySelect span {
    padding: 0.7rem;
    color: #6d1e93;
    border-bottom: 1px dotted #6d1e93;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
  }
  
  .select {
    position: absolute;
    top: 2rem;
    left: 8.5rem;
    padding: 0.8rem 0 0.8rem;
    background-color: #f9f9f9;
    border-radius: 0.6rem;
  }
  .select li {
    padding: 0.6rem 1rem 0.6rem;
  }
  .select li:hover {
    background-color: #f4dbfd;
  }
  