.orderContainer {
  max-width: 40rem;
  width: 100%;
}
table {
  margin-bottom: 1rem;
  border-collapse: collapse;
  font-size: 1.12rem;
  max-width: 40rem;
  width: 100%;
}
table * {
  padding: 0.5rem;
  font-family: 'Roboto', sans-serif;
}
table tr {
  text-align: center;
  border-bottom: 2px solid #6d1e93;
  cursor: pointer;
}
.orderList td:nth-child(2),
.orderList td:nth-child(1) {
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
}
.orderList td:last-child {
  text-align: right;
}
.orderList td:last-child p:first-child {
  padding: 0.1rem;
  font-size: 0.8rem;
  font-weight: 600;
}
.orderStatus p {
  padding: 0.3rem;
  text-transform: uppercase;
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: 600;
}

.orderStatusNew p {
  background-color: #d68ef7;
}
.orderStatusWork p {
  background-color: #b662dd;
}
.orderStatusReady p {
  background-color: #8d34b6;
}
.orderStatusDone p {
  background-color: #520b73;
  color: white;
}
.updateText {
  padding: 0;
  font-size: 0.8rem;
  font-weight: normal;
  color: gray;
}

.detail p,
.detail p:last-child {
  padding: 0;
  text-align: left;
  font-size: 1rem;
}
.detail p{
  margin-bottom: 0.7rem;
}

.detailItem {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 0;
  font-size: 1rem;
}


.hideDetail * {
  padding: 0;
}
.hideDetail {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  background-color: #f0d9fb;
}
.hideDetail p{
  margin: 0 0.5rem 0;
}
