.formWrapper {
  padding: 1rem;
  margin: 0 auto;
  max-width: 30rem;
  box-shadow: 3px 5px 15px 0px rgba(110, 30, 147, 0.2);
}

.formWrapper h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.formFields {
  display: flex;
  flex-direction: column;
}
.formFields input {
  padding: 0.7rem;
  margin-bottom: 1rem;
  outline: none;
  border: none;
  background-color: rgba(110, 30, 147, 0.2);
  border-radius: 5px;
  font-size: 1.3rem;
}
.formControl {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.googleBtn{
  padding: 0;
}
.success {
  background-color: #6e1e93;
  text-transform: uppercase;
  color: white;
}
.primary {
  background-color: #1e3d93;
  text-transform: uppercase;
  color: white;
}
.registrLink {
  padding-top: 0.5rem;
  text-align: center;
}
.registrLink span,
.link {
  text-decoration: underline;
  color: #1e3d93;
  cursor: pointer;
}
.password {
  position: relative;
}
.password input {
  width: 100%;
}
.visible {
  display: block;
  position: absolute;
  top: 25%;
  right: 5%;
}
