.logoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  margin-bottom: 1.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo img {
  margin-right: 1rem;
  width: 40px;
  height: 50px;
}
.logoName h1 {
  margin-bottom: 0.2rem;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5rem;
}
.logoName p {
  font-size: 1rem;
  color: #7b7b7b;
}
.basket {
  margin-bottom: 1.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.7rem 1rem 0.7rem;
  background-color: #6d1e93;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.basket * {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Roboto';
}

.basketInfo {
  display: flex;
}
.basket span {
  display: inline-block;
  margin: 0 0.5rem 0;
  content: '';
  width: 2px;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.25);
}
.basketIcon {
  margin-right: 0.3rem;
  width: 1.3rem;
  height: 1.3rem;
}
.basket:active {
  background-color: #e5a6fb;
}
.basket:active * {
  color: black;
}
